dataset-https://www.kaggle.com/datasets/mohansacharya/graduate-admissions

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVR

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.metrics import rand_score
from sklearn.model_selection import train_test_split,GridSearchCV

In [2]:
df=pd.read_csv(r"C:\Users\Admin\Desktop\Admission_Predict_Ver1.1.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df=df.drop('Serial No.',axis=1)

In [4]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          500 non-null    int64
 1   TOEFL Score        500 non-null    int64
 2   University Rating  500 non-null    int64
 3   SOP                500 non-null    float64
 4   LOR                500 non-null    float64
 5   CGPA               500 non-null    float64
 6   Research           500 non-null    int64
 7   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 31.4 KB

## Train and test split

In [6]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [7]:
x=df.drop('Chance of Admit ',axis=1)
y=df['Chance of Admit ']

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

## Feature scaling

In [9]:
scaler=StandardScaler()
scaler.fit(x_train,y_train)

StandardScaler()

## Support vector regressor

In [10]:
x_train_tf=scaler.transform(x_train)
x_test_tf=scaler.transform(x_test)

In [11]:
model=SVR()

In [12]:
model.fit(x_train_tf,y_train)

SVR()

In [13]:
model.score(x_train_tf,y_train)

0.7757519357301842

In [14]:
pred=model.predict(x_test_tf)
pred

array([0.86758693, 0.78401064, 0.58098697, 0.70575523, 0.79341922,
       0.84684761, 0.50224061, 0.68176766, 0.7890468 , 0.75740703,
       0.65423979, 0.70427289, 0.65291603, 0.87242604, 0.81192102,
       0.46349708, 0.78825361, 0.59120035, 0.49104457, 0.60340786,
       0.65592674, 0.61635369, 0.6936474 , 0.70124134, 0.72962268,
       0.58562002, 0.87484478, 0.83448662, 0.62548557, 0.72594558,
       0.55523603, 0.71151451, 0.57128054, 0.84876902, 0.62839779,
       0.68891659, 0.50715952, 0.88026673, 0.63306979, 0.68165443,
       0.86381144, 0.56125806, 0.63224004, 0.8569825 , 0.84865294,
       0.55755756, 0.89763628, 0.80955106, 0.73115395, 0.87475322,
       0.83025309, 0.52673652, 0.7129972 , 0.5005013 , 0.88352502,
       0.59844805, 0.85569749, 0.70625272, 0.68184095, 0.4847354 ,
       0.63242747, 0.65850305, 0.57102219, 0.6063961 , 0.45817298,
       0.57186897, 0.86583523, 0.85248887, 0.6354494 , 0.66025349,
       0.61181011, 0.72180601, 0.66233978, 0.56776826, 0.5036567 ,
       0.6899727 , 0.8018803 , 0.86644423, 0.48041644, 0.68114013,
       0.64005184, 0.81452509, 0.64495506, 0.81963739, 0.66339816,
       0.62735888, 0.61514186, 0.6949641 , 0.76524607, 0.65459151,
       0.6948774 , 0.8837818 , 0.86372558, 0.65419964, 0.71353782,
       0.46748871, 0.64975199, 0.67837751, 0.65860157, 0.65038784,
       0.74357748, 0.72858227, 0.65395555, 0.65037173, 0.64374594,
       0.54928438, 0.70417457, 0.78454216, 0.59351846, 0.67208265,
       0.55747195, 0.88258153, 0.82390498, 0.87773364, 0.46744847,
       0.78866063, 0.66337648, 0.86053502, 0.59945371, 0.64912757,
       0.70977167, 0.88032606, 0.69654415, 0.64258023, 0.68723917,
       0.6932172 , 0.59926966, 0.86103228, 0.84216051, 0.48503892,
       0.63455957, 0.66966344, 0.81011649, 0.45284159, 0.74729865,
       0.44980171, 0.80859588, 0.8492926 , 0.65347571, 0.68649545,
       0.66108889, 0.63007374, 0.80847405, 0.49090399, 0.89586325,
       0.65365669, 0.88504634, 0.72806371, 0.63203847, 0.70941942,
       0.83292274, 0.64291636, 0.80870476, 0.68992076, 0.6126307 ,
       0.58962794, 0.75228119, 0.76425607, 0.50989297, 0.56351971,
       0.65411852, 0.75287767, 0.67923785, 0.45954006, 0.59832393])

In [15]:
df_value = pd.DataFrame({'Actual': y_test, 'Predicted': pred})  
df_value

     Actual  Predicted
361    0.93   0.867587
73     0.84   0.784011
374    0.39   0.580987
155    0.77   0.705755
104    0.74   0.793419
..      ...        ...
110    0.61   0.654119
318    0.79   0.752878
428    0.69   0.679238
29     0.54   0.459540
437    0.61   0.598324

[165 rows x 2 columns]

In [16]:
score=r2_score(y_test,pred)#R-squared value
score

0.7601877598637248

In [17]:
1 - (1-score)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)# Adjusted R-squared value

0.7494954943799418

In [18]:
#Got more than 75%accuracy by SVR algorithm